@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin-bottom: 32px;
}

.fretboard {
  display: grid;
  grid-template-columns: repeat(13, auto);
  position: relative;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}

.fretboard-row,
.fretboard-fretnums {
  display: contents;
}

.fret:not(:first-child)::before,
.fret:not(:first-child)::after {
  content: "-";
}

.fret {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fretnum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fretnum:first-child,
.fret:first-child {
  margin-right: 15px;
}

.fretnum:first-child {
  visibility: hidden;
}
