<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ウクレレアプリ</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1>表示したいコードの押さえるフレットの位置を指定してください。</h1>
        <div class="chordNumsContainer">
          <div
            v-for="(position, i) in stringPressingPositions"
            class="chordNumContainer"
          >
            <div
              class="triangle topTriangle"
              @click="incrementPosition(i, position)"
            ></div>
            <div
              class="triangle downTriangle"
              @click="decrementPosition(i, position)"
            ></div>
            <div class="chordNum">{{ position }}</div>
          </div>
        </div>
        <div class="fretboard">
          <div class="fretboard-fretnums">
            <div v-for="fretNum in fretNums" class="fretnum">{{ fretNum }}</div>
          </div>
          <div class="fretboard-row">
            <div
              v-for="note in firstStringNotes"
              class="fret firstString"
              :class="{ active: note.isActive }"
              @click="displayNoteName(note)"
            >
              {{ note.name }}
            </div>
          </div>
          <div class="fretboard-row">
            <div
              v-for="note in secondStringNotes"
              class="fret secondString"
              :class="{ active: note.isActive }"
              @click="displayNoteName(note)"
            >
              {{ note.name }}
            </div>
          </div>
          <div class="fretboard-row">
            <div
              v-for="note in thirdStringNotes"
              class="fret thirdString"
              :class="{ active: note.isActive }"
              @click="displayNoteName(note)"
            >
              {{ note.name }}
            </div>
          </div>
          <div class="fretboard-row">
            <div
              v-for="note in fourthStringNotes"
              class="fret fourthString"
              :class="{ active: note.isActive }"
              @click="displayNoteName(note)"
            >
              {{ note.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script setup>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            stringPressingPositions: [0, 0, 0, 0],
            fretNums: [],
            firstStringNotes: [
              { name: "A", isActive: true },
              { name: "B♭", isActive: false },
              { name: "B", isActive: false },
              { name: "C", isActive: false },
              { name: "D♭", isActive: false },
              { name: "D", isActive: false },
              { name: "E♭", isActive: false },
              { name: "E", isActive: false },
              { name: "F", isActive: false },
              { name: "G♭", isActive: false },
              { name: "G", isActive: false },
              { name: "A♭", isActive: false },
              { name: "A", isActive: false },
            ],
            secondStringNotes: [
              { name: "E", isActive: true },
              { name: "F", isActive: false },
              { name: "G♭", isActive: false },
              { name: "G", isActive: false },
              { name: "A♭", isActive: false },
              { name: "A", isActive: false },
              { name: "B♭", isActive: false },
              { name: "B", isActive: false },
              { name: "C", isActive: false },
              { name: "D♭", isActive: false },
              { name: "D", isActive: false },
              { name: "E♭", isActive: false },
              { name: "E", isActive: false },
            ],
            thirdStringNotes: [
              { name: "C", isActive: true },
              { name: "D♭", isActive: false },
              { name: "D", isActive: false },
              { name: "E♭", isActive: false },
              { name: "E", isActive: false },
              { name: "F", isActive: false },
              { name: "G♭", isActive: false },
              { name: "G", isActive: false },
              { name: "A♭", isActive: false },
              { name: "A", isActive: false },
              { name: "B♭", isActive: false },
              { name: "B", isActive: false },
              { name: "C", isActive: false },
            ],
            fourthStringNotes: [
              { name: "G", isActive: true },
              { name: "A♭", isActive: false },
              { name: "A", isActive: false },
              { name: "B♭", isActive: false },
              { name: "B", isActive: false },
              { name: "C", isActive: false },
              { name: "D♭", isActive: false },
              { name: "D", isActive: false },
              { name: "E♭", isActive: false },
              { name: "E", isActive: false },
              { name: "F", isActive: false },
              { name: "G♭", isActive: false },
              { name: "G", isActive: false },
            ],
          };
        },
        mounted() {
          this.fretNums = Array.from(new Array(13)).map((_, i) => i);
        },
        methods: {
          displayNoteName(noteName) {
            console.log(noteName);
          },
          incrementPosition(string, currentPosition) {
            const newPosition = currentPosition + 1;
            if (newPosition > 12) return;
            this.stringPressingPositions[string] = newPosition;

            this.updateActiveNotes();
          },
          decrementPosition(string, currentPosition) {
            const newPosition = currentPosition - 1;
            if (newPosition < 0) return;
            this.stringPressingPositions[string] = newPosition;

            this.updateActiveNotes();
          },
          updateActiveNotes() {
            this.firstStringNotes.forEach((note) => (note.isActive = false));
            this.secondStringNotes.forEach((note) => (note.isActive = false));
            this.thirdStringNotes.forEach((note) => (note.isActive = false));
            this.fourthStringNotes.forEach((note) => (note.isActive = false));
            this.firstStringNotes[
              this.stringPressingPositions[0]
            ].isActive = true;
            this.secondStringNotes[
              this.stringPressingPositions[1]
            ].isActive = true;
            this.thirdStringNotes[
              this.stringPressingPositions[2]
            ].isActive = true;
            this.fourthStringNotes[
              this.stringPressingPositions[3]
            ].isActive = true;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
